---
import Head from "@components/Head.astro";
import AdvisorsHero from "@components/AdvisorsHero.astro";
import AdvisorsUnique from "@components/AdvisorsUnique.astro";
import AdvisorsServices from "@components/AdvisorsServices.astro";
import DataCard from "@components/DataCard.astro";
import ContactForm from "@components/AdvisorsContactForm.svelte";
import Foot from "@components/Foot.astro";
import { cards } from '@assets/data';
---

<Head />

<div class="bg-white">
	<AdvisorsHero />
  <AdvisorsUnique />
	<AdvisorsServices />

	<ContactForm client:only />
</div>
<Foot />
