---
import Head from "@components/Head.astro";
import EquityHero from "@components/EquityHero.astro";
import EquityAbout from "@components/EquityAbout.astro";
import EquityCriteria from "@components/EquityCriteria.astro";
import Foot from "@components/Foot.astro";
---

<Head />

<div class="bg-white">
	<EquityHero />
  <EquityAbout />
	<EquityCriteria />
	<!--
	<FinancingServices />
	-->
</div>
<Foot />
