---
import Head from "@components/Head.astro";
import EquityHero from "@components/EquityHero.astro";
import FinancingAbout from "@components/FinancingAbout.astro";
import FinancingServices from "@components/FinancingServices.astro";
import DataCard from "@components/DataCard.astro";
import ContactForm from "@components/AdvisorsContactForm.svelte";
import Foot from "@components/Foot.astro";
import { cards } from '@assets/data';
---

<Head />

<div class="bg-white">
	<EquityHero />
	<!--
  <FinancingAbout />
	<FinancingServices />
	-->
</div>
<Foot />
