---
import Head from "@components/Head.astro";
import EquityHero from "@components/EquityHero.astro";
import Foot from "@components/Foot.astro";
---

<Head />

<div class="bg-white">
	<EquityHero />
	<!--
  <FinancingAbout />
	<FinancingServices />
	-->
</div>
<Foot />
