---
import Head from "@components/Head.astro";
import Banner from "@components/Banner.astro";
import HomeCard from "@components/HomeCard.astro";
import Foot from "@components/Foot.astro";
import { cards } from '@assets/data';
import { directusData } from '@assets/data/homePage'
const HomeCardData = await directusData()
---

<Head />

<div class="bg-white">
  <Banner />

  <!-- Overlapping cards -->
  <section
    class="relative z-10 mx-auto -mt-32 max-w-7xl px-4 pb-32 sm:px-6 lg:px-8"
    aria-labelledby="contact-heading"
  >
    <h2 class="sr-only" id="contact-heading">Contact us</h2>
    <div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
      {HomeCardData.map(card => (
				<HomeCard heading={card.heading} description={card.description}, linkText={card.linkText} link={card.link} />
			))}
    </div>
  </section>
</div>
<Foot />
