---
import Head from "@components/Head.astro";
import HomeHero from "@components/HomeHero.astro";
import About from "@components/About.astro";
import Companies from "@components/Companies.astro";
import Foot from "@components/Foot.astro";
---

<Head />

<div class="bg-white">
	<HomeHero />
	<About />
  <Companies />
</div>

<Foot />
