---
import Head from "@components/Head.astro";
import SpecialtyRiskHero from "@components/SpecialtyRiskHero.astro";
import SpecialtyRiskAbout from "@components/SpecialtyRiskAbout.astro";
import Foot from "@components/Foot.astro";
---

<Head />

<div class="bg-white">
	<SpecialtyRiskHero />
  <SpecialtyRiskAbout />
	<!--
	<FinancingServices />
	-->
</div>
<Foot />
