---
---
<div id="about" class="bg-white">
  <div class="mx-auto max-w-5xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div>
      <h2 class="mt-1 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-5xl">We know the market<br><span class="text-indigo-600">because we're active</span><br>in the market</h2>
      <p class="mx-auto mt-10 max-w-4xl text-xl text-gray-500">Our team has bought and sold over twenty businesses for their own account. With over 50 years of experience buying and selling operating business as entrepreneurs and owners of a family business we know what it is like to make an acquisition or sell a business. We have been in your shoes and know how hard it is to make the correct decision for your company and often your family.</p>
    </div>
  </div>
</div>
