---
import { Image } from "@astrojs/image/components";
import featuredImage from "@images/richmond-skyline.jpg";
---
<div id="about" class="bg-white">
  <div class="mx-auto max-w-5xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div>
      <h2 class="mt-1 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-5xl">We buy businesses<br><span class="text-sky-700">we intend to own and operate</span><br>for the long term</h2>
      <p class="mx-auto mt-10 max-w-4xl text-xl text-gray-500">In addition to providing advisory services we are active buyers of businesses for our own account. We believe being active in the market makes us better advisors to others seeking to buy, sell or finance a business. Our experience as business owners learned over decades of success and failure has provided us with a unique perspective which we share with clients.</p>
      <p class="mx-auto mt-8 max-w-4xl text-xl text-gray-500">If you are a business owner and wish to sell your business confidentially, we can provide you with a no risk evaluation and explain how we would value your business. If your business meets our criteria we will make a firm offer within one week of completing the valuation.</p>
    </div>
  </div>
</div>
