---
import { Image } from "@astrojs/image/components";
import featuredImage from "@images/richmond-skyline.jpg";
---
<div id="about" class="bg-white">
  <div class="mx-auto max-w-5xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div>
      <h2 class="mt-1 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-5xl">We arrange financing<br><span class="text-emerald-400">we would feel good about</span><br>in our own deals</h2>
      <p class="mx-auto mt-10 max-w-4xl text-xl text-gray-500">We directly provide and indirectly arrange debt, equity and hybrid financing for clients. Our specialty is customized solutions that optimize cash flow and lower the cost of capital for operating businesses. We are well versed in all levels of a capital structure from common equity to senior debt and all tranches in between. If you need advice on a routine financing or you are working through a distressed restructuring, we can assist with your requirements.</p>
    </div>
  </div>
</div>
