<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" href="/favicon-32x32.png" type="image/png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>IIU Inc.</title>
  	<meta name="description" content="Bringing decades of experience in M&A advisory, private equity, and asset management."> <!-- ˜150 chars -->
  	<meta property="og:title" content="IIU Merchant Bankers">
  	<meta property="og:description" content="Bringing decades of experience in M&A advisory, private equity, and asset management."> <!-- ˜300 chars -->
  	<meta property="og:site_name" content="IIU Inc.">
  	<meta property="og:type" content="website">
  	<meta property="og:url" content="http://iiuinc.com">
  	<meta property="og:image" content="https://iiuinc.com/_astro/ship-preview.jpg"> <!-- 200x200px - 1200x1200px -->
	</head>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-F81BMKEL62"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-F81BMKEL62');
	</script>

	<body>
