---
import { Image } from "@astrojs/image/components";
import backgroundImage from "@images/richmond-skyline.jpg";
---
<div id="services" class="relative bg-gray-800 pb-32">
  <div class="absolute inset-0">
    <Image
      src={backgroundImage}
      class="h-full w-full object-cover"
      alt="Richmond skyline"
    />
    <div
      class="absolute inset-0 bg-gradient-to-r from-gray-700 to-blue-900 mix-blend-multiply"
      aria-hidden="true"
    >
    </div>
  </div>
  <div class="relative mx-auto max-w-7xl py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <h1
      class="text-4xl font-bold tracking-tight text-white md:text-5xl lg:text-6xl"
    >
      Our services
    </h1>
    <p class="mt-6 max-w-3xl text-xl text-gray-300">
      We provide bespoke services to clients in various industry and commercial sectors. To find out more about our past client profiles please contact us.
    </p>
  </div>
</div>
