---
import { Image } from "@astrojs/image/components";
import featuredImage from "@images/richmond-skyline.jpg";
---
<div id="about" class="bg-white">
  <div class="mx-auto max-w-5xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div>
      <h2 class="mt-1 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-5xl">Specialty risk options combining<br><span class="text-teal-400">decades of underwriting experience</span><br><span class="text-teal-500">with innovative modern solutions</span></h2>
      <p class="mx-auto mt-10 max-w-4xl text-xl text-gray-500">We are an insurance principal and intermediary focused on unique non-regulated risk. Through our wholly owned subsidiaries we provide bespoke risk mitigation coverage in partnership with Lloyd’s of London and other specialty risk underwriters. If you require insurance not provided by traditional carriers we would welcome the opportunity to find a solution.</p>
      <p class="mx-auto mt-8 max-w-4xl text-xl text-gray-400 p-10 bg-gray-100">IIU Specialty Risk and its subsidiaries do not provide regulated insurance products. We are unable to provide Health, Property & Casualty, Life Insurance or other standardized coverage in the United States or Canada.</p>
    </div>
  </div>
</div>
